app-dashboard {
  .photo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h2 {
    margin: 0;
  }
  ion-item {
    padding: 5px 0;
  }
  ion-badge {
    margin-right: 1rem;
  }
}
