migrant-skills {
  ion-item {
    cursor: pointer;
    migrant-text-to-speech ion-button {
      top: -15px;
    }
  }

  .is-checked ion-icon[slot='start'] {
    color: var(--ion-color-success);
  }
}
